{{if .}}
  {{range .}}
    <div class="box is-flex is-justify-content-space-between is-align-items-center" id="user-{{.ID}}">
      <div>
        <strong>{{.Name}}</strong><br />
        <small>{{.Email}}</small>
      </div>
      <div class="buttons">
        <button 
          class="button is-link is-light"
          hx-get="/users/{{.ID}}/edit"
          hx-target="#edit-form"
          hx-swap="innerHTML"
        >
          Edit
        </button>
        <button 
          class="button is-danger is-light"
          hx-delete="/users/{{.ID}}"
          hx-target="#user-list-wrapper"
          hx-swap="innerHTML"
        >
          Delete
        </button>
      </div>
    </div>
  {{end}}
{{else}}
  <div class="notification is-warning has-text-centered">No users found.</div>
{{end}}
